<a href="https://colab.research.google.com/github/Epicurusme/Complete-Python-3-Bootcamp/blob/master/Function_Practice_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LESSER OF TWO EVENS: WARM UP

Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [ ]:
# for example, lesser_of_two_evens(2,4) --> 2
# for example, lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
  if a % 2 == 0 and b % 2 == 0:
    # BOTH NUMBERS ARE EVEN!
    return min(a,b)
  else:
    # AT LEAST ONE OF THE NUMBERS ARE ODD!
    return max(a,b)

lesser_of_two_evens(5,8)

8

In [2]:
lesser_of_two_evens(6,8)

6

# ANIMAL CRACKERS: WARM UP

Write a function takes a two-word string and returns True if both words begin with same letter

In [ ]:
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

In [15]:
def animal_crackers(text):
  x = text.split()
  print(x)

  first = x[0]
  second = x[1]

  return x[0][0] == x[1][0]

animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [16]:
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

# MAKES TWENTY: WARM UP

Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [ ]:
# makes_twenty(20,10) --> True
# makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

In [17]:
def makes_twenty(n1,n2):
  if n1 + n2 == 20 or n1 == 20 or n2 == 20:
    return True
  else:
    return False

In [19]:
# Best solution:

def makes_twenty(n1,n2):
  return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [20]:
makes_twenty(20,10)

True

In [21]:
makes_twenty(2,3)

False

# OLD MACDONALD: LEVEL 1

Write a function that capitalizes the first and fourth letters of a name

In [ ]:
# old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [26]:
def old_macdonald(name):
  
  first_letter = name[0]
  inbetween = name[1:3]
  fourth_letter = name[3]
  rest = name[4:]

  return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [36]:
# Better Solution:

def old_macdonald(name):
  
  first_half = name[:3]
  second_half = name[3:]

  return first_half.capitalize() + second_half.capitalize()

In [37]:
old_macdonald('macdonald')

'MacDonald'

# MASTER YODA: LEVEL 1

Given a sentence, return a sentence with the words reversed

In [ ]:
# master_yoda('I am home') --> 'home am I'
# master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])

>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])

>>> "Hello world"

In [41]:
def master_yoda(text):
  x = text.split()
  return " ".join(x[::-1])

In [42]:
master_yoda('I am home')

'home am I'

In [43]:
master_yoda('We are ready')

'ready are We'

# ALMOST THERE: LEVEL 1

Given an integer n, return True if n is within 10 of either 100 or 200

In [ ]:
# almost_there(90) --> True
# almost_there(104) --> True
# almost_there(150) --> False
# almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [52]:
def almost_there(n):

  return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [49]:
almost_there(104)

True

In [53]:
almost_there(150)

False

In [51]:
almost_there(209)

True

# FIND 33: LEVEL 2

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [ ]:
# has_33([1, 3, 3]) → True
# has_33([1, 3, 1, 3]) → False
# has_33([3, 1, 3]) → False

In [67]:
def has_33(nums):
  
  for i in range(0,len(nums)-1):
    if nums[i] == 3 and nums[i+1] == 3:
    #if nums[i] == nums[i+1]:
      return True

  return False

In [73]:
# Alternative answer, less readable:

def has_33(nums):
  
  for i in range(0,len(nums)-1):
    if nums[i:i+2] == [3,3]:
      return True

  return False

In [74]:
has_33([1, 3, 3])

True

In [75]:
has_33([1, 3, 1, 3])

False

In [76]:
has_33([3, 1, 3])

False

# PAPER DOLL: LEVEL 2

Given a string, return a string where for every character in the original there are three characters

In [ ]:
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [82]:

def paper_doll(text):
  result = ''

  for x in text:
    result += x*3 # or x+x+x
  
  return result

In [83]:
paper_doll('Hello')

'HHHeeellllllooo'

In [79]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

# BLACKJACK: LEVEL 2

Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [ ]:
# blackjack(5,6,7) --> 18
# blackjack(9,9,9) --> 'BUST'
# blackjack(9,9,11) --> 19

In [96]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) > 21 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [97]:
blackjack(5,6,7)

18

In [98]:
blackjack(9,9,9)

'BUST'

In [99]:
blackjack(9,9,11)

19

# SUMMER OF '69: LEVEL 2

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [ ]:
# summer_69([1, 3, 5]) --> 9
# summer_69([4, 5, 6, 7, 8, 9]) --> 9
# summer_69([2, 1, 6, 9, 11]) --> 14

In [100]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [101]:
summer_69([1, 3, 5])

9

In [102]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [103]:
summer_69([2, 1, 6, 9, 11])

14

# SPY GAME: CHALLENGING

Write a function that takes in a list of integers and returns True if it contains 007 in order

In [ ]:
# spy_game([1,2,4,0,0,7,5]) --> True
# spy_game([1,0,2,4,0,5,7]) --> True
# spy_game([1,7,2,0,4,5,0]) --> False

In [104]:
def spy_game(nums):

    code = [0,0,7,'x']

    # pop off 'code'
    #[0,7,'x']
    #[7,'x']
    #['x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [105]:
spy_game([1,2,4,0,0,7,5])

True

In [110]:
spy_game([1,0,2,4,0,5,7])

True

In [107]:
spy_game([1,7,2,0,4,5,0])

False

# COUNT PRIMES: CHALLENGING

Write a function that returns the number of prime numbers that exist up to and including a given number

In [ ]:
# count_primes(100) --> 25

In [111]:
def count_primes(num):
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to the imput number
    x = 3

    if num < 2:  # for the case of num = 0 or 1
        return 0
    # x is going through every number up to the input number
    while x <= num:
        # check if x is prime
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [112]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [113]:
# BONUS: Here's a faster version that makes use of the prime numbers we're collecting as we go!

def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [114]:
count_primes(10)

[2, 3, 5, 7]

4

# PRINT BIG: JUST FOR FUN

Write a function that takes in a single letter, and returns a 5x5 representation of that letter

print_big('a')

out:   *  

      * *

     *****

     *   *

     *   *

     
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [115]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

print_big('a')

  *
 * *
*****
*   *
*   *