<a href="https://colab.research.google.com/github/Epicurusme/Complete-Python-3-Bootcamp/blob/master/my_code_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# METHODS AND THE PYTHON DOCUMENTATION

**Python documentation can be found in the Python standard library (https://docs.python.org/3/library/)**

**You can also get basic info of built-in functions, using help()**

In [ ]:
mylist = [1,2,3]

In [ ]:
mylist.append(4)
mylist

[1, 2, 3, 4]

In [ ]:
help(mylist.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [ ]:
help(mylist.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

# FUNCTIONS

**Functions allow us to create blocks of code that can be easily executed many times, without the need to constantly re-write.**

In [ ]:
# 'def' keyword: Allows the creation of function in Python.

# def name_of_funtion():
#   '''
#   docstring explains function
#   '''
#   print("Hello")

#>>name of funtion()
#>>Hello


# name = "James"
# def name_of_funtion(name):
#   '''
#   docstring explains function
#   '''
#   print("Hello" + name)

#>>name of funtion("James")
#>>Hello James

In [ ]:
def say_hello():
  print("Hello Pal!")
  print("How are ya?")
  print("Good to see ya!")

In [ ]:
say_hello()

Hello Pal!
How are ya?
Good to see ya!

In [ ]:
def say_hello(name):
  print(f'Hello {name}')

In [ ]:
say_hello("Ola")

Hello Ola

In [ ]:
def say_hello(name = 'Default'): # adding default value
  print(f'Hello {name}')

In [ ]:
say_hello() # no name given in parentesis so default name is given in output

Hello Default

**Using the Return function**

In [ ]:
def add_num(num1,num2):
  return num1 + num2

In [ ]:
results = add_num(4,7) # Return allows you to assign a variable name to the function. No need to print

In [ ]:
results

11

In [ ]:
def print_results(a,b):
  print(a+b)

In [ ]:
def return_results(a,b):
  return a+b

In [ ]:
print_results(10,20) # you can't assign and save a variable to this

30

In [ ]:
results = return_results(10,20) # you can assign and save a variable to this

results

30

# FUNCTIONS WITH LOGIC

In [ ]:
def even_check(number):
  return number % 2 == 0

In [ ]:
even_check(10)

True

In [ ]:
# Return true if any number is even inside a list

def check_even_list(num_list):

  for x in num_list:
    if x % 2 == 0:
      return True
    else:
      pass
  return False # The Return for the alternate output is indented with the 'for' loop

In [ ]:
check_even_list([1,3])

False

In [ ]:
# Return all the even numbers in a list

def return_even_list(num_list):

# Placeholder variable
  even_numbers = []

  for x in num_list:
    if x % 2 == 0:
      even_numbers.append(x)      
    else:
      pass

  return even_numbers

In [ ]:
return_even_list([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

# TUPLE UNPACKING WITH PYTHON FUNCTIONS

**Functions and returning multiple items from a funtion with Tuple Unpacking**

In [ ]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [ ]:
for item in stock_prices:
  print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [ ]:
for ticker,price in stock_prices:
  print(ticker)

APPL
GOOG
MSFT

In [ ]:
for ticker,price in stock_prices:
  print(ticker + " - " + str(price))

APPL - 200
GOOG - 400
MSFT - 100

In [ ]:
# Unpacking with functions...

work_hours = [('Abby',44),('Billy',50),('Cassie',60),('Danny',40)]

In [ ]:
def employee_check(work_hours):

  current_max = 0
  employee_of_month = ''

  for employee,hours in work_hours:
    if hours > current_max:
      current_max = hours
      employee_of_month = employee
    else:
      pass


  # Return
  return (employee_of_month,current_max)

In [ ]:
list(employee_check(work_hours))

['Cassie', 60]

In [ ]:
a,b = employee_check(work_hours)

In [ ]:
a

'Cassie'

In [ ]:
b

60

In [ ]:
name,hours = employee_check(work_hours)

In [ ]:
name

'Cassie'

In [ ]:
hours

60

# INTERACTION BETWEEN PYTHON FUNCTIONS

**How multiple functions interact with each other in returning objects to each other**

In [ ]:
# Guessing game...

In [ ]:
example = [1,2,3,4,5,6,7]

In [ ]:
from random import shuffle

In [ ]:
mylist = [' ','O',' ']

shuffle_list(mylist)

[' ', 'O', ' ']

In [ ]:
def player_guess():

  guess = ''

  while guess not in ['0','1','2']:
    guess = input("Pick a number: 0, 1 or 2: ")

  return int(guess)

In [ ]:
player_guess()

Pick a number: 0, 1 or 2: 7
Pick a number: 0, 1 or 2: 1

1

In [ ]:
myindex = player_guess()

Pick a number: 0, 1 or 2: 2

In [ ]:
myindex

2

In [ ]:
def check_guess(mylist,guess):
  if mylist[guess] == "O":
    print("Correct!")
  else:
    print("Wrong guess!")
    print(mylist)

In [ ]:
# INITIAL LIST
mylist = [' ','O',' ']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0, 1 or 2: 0
Correct!

# ARGS AND KWARGS

ARGS

In [ ]:
# *args are useful for arguments that with imputs that you don't want limited

def myfunc(*args): # args is an arbitary keyword, it could be anything
  return sum(args)

myfunc(2,3,4)

9

In [ ]:
# *args give a back a tuple for the argument
def myfunc(*args):
  print(args)
    

myfunc(2,3,4)

(2, 3, 4)

In [ ]:
# *args give a back a tuple for the argument
def myfunc(*args):
  for x in (args):
    print(x)

myfunc(2,3,4)

2
3
4

KWARGS

In [1]:
def myfunc(**kwargs): # kwargs is an arbitary keyword, it could be anything
  if 'fruit' in kwargs:
    print('My fruit of choice is {}'.format(kwargs['fruit']))
  else:
    print('My fruit is missing')

myfunc(fruit = 'apple')

My fruit of choice is apple

In [5]:
# printing out the dictionary

def myfunc(**kwargs):
  print(kwargs)
  if 'fruit' in kwargs:
    print('My veg of choice is {}'.format(kwargs['veg']))
  else:
    print('My veg is missing')

myfunc(fruit = 'apple', veg = 'lettuce')

{'fruit': 'apple', 'veg': 'lettuce'}
My veg of choice is lettuce

In [26]:
# args and kwargs can be combined
def myfunc(*args,**kwargs):
  print(args)
  print(kwargs)
  print('I would like {} {}'.format(args[2],kwargs['food']))

myfunc(10,20,30,fruit='orange',food='hamburgers',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'hamburgers', 'animal': 'dog'}
I would like 30 hamburgers