<a href="https://colab.research.google.com/github/Epicurusme/Complete-Python-3-Bootcamp/blob/master/my_code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CONTROL FLOW STATEMENTS: IF, ELIF, ELSE

In [3]:
hungry = True
if hungry:
  print('feed me!')
else:
  print("I'm not hungry")

feed me!

In [10]:
loc = 'Bank'

if loc == 'AutoShop':
  print ("Cars are cool!")
elif loc == 'Bank':
  print ('Money is cool!')
elif loc == 'Store':
  print ('Welcome to the store!')
else:
  print("I do not know much.")

Money is cool!

In [14]:
name = 'Sammy'

if name == 'Frankie':
  print('Hello ' + name + '!')
elif name == 'Sammy':
  print('Hello ' + name + '!')
else:
  print('What is your name?')

Hello Sammy!

# CONTROL FLOW STATEMENTS: FOR LOOPS

We can use 'For Loops' to execute a block of code for every iteration of an event

In [18]:
my_list = [1,2,3]
for info in my_list:
  print (info)

1
2
3

In [20]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [21]:
for numbering in mylist:
  print(numbering)

1
2
3
4
5
6
7
8
9
10

In [22]:
for jelly in mylist:
  print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [25]:
for even_num in mylist:
  #check for even
  if even_num % 2 == 0:
    print(even_num)
  else:
    # using f-strings method to input odd numbers
    print(f'Odd Number: {even_num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [35]:
list_sum = 0

for num in mylist:
  list_sum = list_sum + num

# Indentation below will decide whether you see final value or all 10 values 
print(list_sum)

55

In [39]:
mystring = 'Hello World'

for letter in mystring:
  print(letter)

H
e
l
l
o

W
o
r
l
d

In [40]:
tup = (1,2,3)

for item in tup:
  print (item)

1
2
3

In [41]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [42]:
len(mylist)

4

In [44]:
for item in mylist:
  print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [47]:
for a,b in mylist:
  print(a,b)
  print(a)
  print(b)

1 2
1
2
3 4
3
4
5 6
5
6
7 8
7
8

Iterate through a dictionary

In [50]:
# Iteration only occurs through the keys

d = {'k1':1,'k2':2,'k3':3}

for item in d:
  print(item)

k1
k2
k3

In [51]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
  print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [57]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
  print(value)

1
2
3

# CONTROL FLOW STATEMENTS: WHILE LOOPS

In [4]:
x = 0

while x < 5:
  print(f'The current value of x is {x}')
  x = x + 1
else:
  print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

Break, Continue & Pass

In [ ]:
# Break, Continue and Pass keywords
# Break: Break out of the current closest enclosing loop
# Continue: Goes to the top of the closest enclosing loop
# Pass: Does nothing at all

In [7]:
x = [1,2,3]

# normally you get an error when you don't write a statement after the 'for loop', pass keyword overrides this
for item in x:
  #write nothing
  pass

In [9]:
# using continue keyword, usually to bypass a qualifying loop
mystring = 'Sammy'

for letter in mystring:
  if letter == 'a':
    continue
  print(letter)

S
m
m
y

In [10]:
# using the break keyword
mystring = 'Sammy'

for letter in mystring:
  if letter == 'a':
    break
  print(letter)

S

In [13]:
# break keyword works well with 'while loop'
x = 0

while x < 5:
  if x == 3:
    break
  print(x)
  x += 1

0
1
2

# USEFUL OPERATORS

Using 'Range' keyword

In [14]:
mylist = [1,2,3]

In [15]:
for num in range(10):
  print (num)

0
1
2
3
4
5
6
7
8
9

In [16]:
for num in range(2,10):
  print (num)

2
3
4
5
6
7
8
9

In [18]:
for num in range(0,10,2):
  print (num)

0
2
4
6
8

In [19]:
range(0,10,2)

range(0, 10, 2)

In [24]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [25]:
tuple(range(0,10,2))

(0, 2, 4, 6, 8)

Using 'Enumerate' keyword

In [27]:
index_count = 0

for letter in 'abcde':
  print('At index {} the letter is {}'.format (index_count,letter))
  index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [28]:
# An alternative to the above is:
index_count = 0
word = 'abcde'

for letter in word:
  print(word[index_count])
  index_count += 1

a
b
c
d
e

In [40]:
# Enumerate function can replicate the above

word = 'abcde'

for index,letter in enumerate(word):
  
  print(index) 
  print(letter)
  print('\n')

0
a


1
b


2
c


3
d


4
e

In [ ]:
# Using the zip function, opposite of enumerate

In [44]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [46]:
# zip function results come out in tuples
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
  print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [47]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

'in' operator

In [48]:
'x' in [1,2,3]

False

In [50]:
'x' in ['x','y','z']

True

Python Random Library

In [51]:
from random import shuffle

In [52]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [59]:
shuffle(mylist)

In [60]:
mylist

[4, 5, 8, 9, 3, 2, 1, 10, 7, 6]

In [61]:
from random import randint

In [64]:
randint(0,100)

93

Input Function

In [67]:
result = input('Enter a number here:')

Enter a number here:77

In [68]:
result

'77'

In [3]:
# the output for all inputs comes as string. These can be cast to number using float() or int()
result = int(input('Enter a number here:'))

Enter a number here:77

In [4]:
result

77

# LIST COMPREHENSION

In [5]:
mystring = 'Hello'

In [9]:
comp = []

for letter in mystring:
  comp.append(letter)

In [10]:
comp

['H', 'e', 'l', 'l', 'o']

In [39]:
# You can summarise the above into a simpler format code

comp = [letter for letter in mystring]

comp

['H', 'e', 'l', 'l', 'o']

In [40]:
mylist = [x for x in 'word']

mylist

['w', 'o', 'r', 'd']

In [41]:
mylist =[x for x in range(0,11)]

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# You can perform operations on the first variable name

mylist =[num**2 for num in [0,1,2,3,4,5,6]]

mylist

[0, 1, 4, 9, 16, 25, 36]

In [28]:
# You can perform 'if' statements

mylist = [x for x in range(0,11) if x%2==0]

mylist

[0, 2, 4, 6, 8, 10]

In [27]:
# You can perform 'if' statements

mylist = [x**2 for x in range(0,11) if x%2==0]

mylist

[0, 4, 16, 36, 64, 100]

In [31]:
celcius = [0,10,20,34.5]

fahrenheit = [(x*(9/5) + 32) for x in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [33]:
# Same can be re-written as...

fahrenheit = []

for x in celcius:
  fahrenheit.append(x*(9/5) + 32)

fahrenheit

[32.0, 50.0, 68.0, 94.1]

If/Else in List Comprehensions

In [35]:
# Applying if/else in list comprehensions (one liner code) can be confusing to read

results = [x if x%2==0 else 'ODD' for x in range (0,11)] #code is reverse of a normal if/else statement
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

Nested Loop in List Comprehensions

In [37]:
mylist = []

for x in [2,4,6]:
  for y in [1,10,100]:
    mylist.append(x*y)
    
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [38]:
# The above can be simplified with a list comprehension

mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]