<a href="https://colab.research.google.com/github/Epicurusme/Complete-Python-3-Bootcamp/blob/master/statements_assessment__test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statements Assessment Test

**Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [82]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
# Solution 1

for x in st.split():
  if x[0] == 's':
    print(x)

start
s
sentence

In [83]:
# Solution 2, list comprehension

[x for x in st.split() if x[0] == 's']

['start', 's', 'sentence']

**Use range() to print all the even numbers from 0 to 10.**

In [ ]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

**Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [51]:
# Best Solution

[num for num in range(1,51) if num%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [52]:
# Other Solution 1

div3 = [num for num in range(1,51) if num%3 == 0]

div3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [53]:
# Other Solution 2

for num in range(1,51):
  if num%3 == 0:
    print(num)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

**Go through the string below and if the length of a word is even print "even!"**

In [84]:
st = 'Print every word in this sentence that has an even number of letters'

In [85]:
for x in st.split():
  if len(x) % 2 == 0: 
    print (x + ' -- even')
  else:
    print (x)

Print
every
word -- even
in -- even
this -- even
sentence -- even
that -- even
has
an -- even
even -- even
number -- even
of -- even
letters

**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [86]:
for x in range(1,101):
  if x % 3 == 0 and x % 5 == 0:
    print(str(x) + " -- FizzBuzz")
  elif x % 3 == 0:
    print(str(x) + " -- Fizz")
  elif x % 5 == 0:
    print(str(x) + " -- Buzz")
  else:
    print(x)

1
2
3 -- Fizz
4
5 -- Buzz
6 -- Fizz
7
8
9 -- Fizz
10 -- Buzz
11
12 -- Fizz
13
14
15 -- FizzBuzz
16
17
18 -- Fizz
19
20 -- Buzz
21 -- Fizz
22
23
24 -- Fizz
25 -- Buzz
26
27 -- Fizz
28
29
30 -- FizzBuzz
31
32
33 -- Fizz
34
35 -- Buzz
36 -- Fizz
37
38
39 -- Fizz
40 -- Buzz
41
42 -- Fizz
43
44
45 -- FizzBuzz
46
47
48 -- Fizz
49
50 -- Buzz
51 -- Fizz
52
53
54 -- Fizz
55 -- Buzz
56
57 -- Fizz
58
59
60 -- FizzBuzz
61
62
63 -- Fizz
64
65 -- Buzz
66 -- Fizz
67
68
69 -- Fizz
70 -- Buzz
71
72 -- Fizz
73
74
75 -- FizzBuzz
76
77
78 -- Fizz
79
80 -- Buzz
81 -- Fizz
82
83
84 -- Fizz
85 -- Buzz
86
87 -- Fizz
88
89
90 -- FizzBuzz
91
92
93 -- Fizz
94
95 -- Buzz
96 -- Fizz
97
98
99 -- Fizz
100 -- Buzz

**Use a List Comprehension to create a list of the first letters of every word in the string below:**

In [71]:
st = 'Create a list of the first letters of every word in this string'

In [76]:
[x[0] for x in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']