<a href="https://colab.research.google.com/github/Epicurusme/Complete-Python-3-Bootcamp/blob/master/statements_assessment__test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statements Assessment Test

**Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [1]:
st = 'Print only the words that start with s in this sentence'

In [17]:
st1 = st.split()

In [28]:
# Solution 1

for x in st.split():
  if x[0] == 's':
    print(x)

start
s
sentence

In [29]:
# Solution 2

for x in st1:
  if x[0] == 's':
    print(x)

start
s
sentence

**Use range() to print all the even numbers from 0 to 10.**

In [42]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

**Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [50]:
# Best Solution

[num for num in range(1,51) if num%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [49]:
# Other Solution 1

div3 = [num for num in range(1,51) if num%3 == 0]

div3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [43]:
# Other Solution 2

for num in range(1,51):
  if num%3 == 0:
    print(num)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'